@page
@{

    var  name = "Robert Paulson";
    //if (Request.Form["name"]!="")
      //  name = Request.Form["name"].ToString();
}

<!DOCTYPE html>
<head>
    <html lang="en" />
    <meta charset="utf-8" />
</head>
<body>
        @for (int i=0; i<10; i++)
        {
        <li>His name is @name</li>
        }
    </ul>
</body>
</html>